
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- javascript -->
<script src="//storage.googleapis.com/code.getmdl.io/1.2.1/material.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="searchDiv" style=" width: 50%; height:48px;padding: 0;margin: 0;">
    <div class="row " style="margin-top: 13px; margin-bottom: 15px;">
        <div class="col-lg-3  col-md-3 col-sm-3 col-xs-3 empty " >

        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-10 searchTablet" style="    margin-left:30%;">
            <form class="fd-search  " role="search" method="get" action="{{ path('search') }}">

                <div class="row">


                    <label class="sr-only" for="inlineFormInputGroup">Search</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                        <input type="text" class="form-control searchInput" style=" " value="{{ q }}" name="q"
                               id="search_term" pattern=".{3,}" required aria-label="Text input with dropdown button"
                               placeholder=" Search ">
                        <div class="input-group-addon">
                            <button style="
  background: none;
  padding: 0px;
  border: none; " type="submit" id="completed-task" class="fabutton">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>

                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-5 empty">
        </div>

    </div>
</div>
<hr style="margin: 0px">
