
{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<div class="fd-navigation mdl-layout__drawer">

    <span class="mdl-layout-title mdl-color--primary mdl-color-text--white">
        <a href="{{ path('homepage') }}">Iris Central</a>
    </span>
    {% block menu_nav%}
    <nav class="mdl-navigation mdl-color--white" style="    border-bottom: 1px solid !important;">
           
    </nav>
        <hr>
    {% endblock %}
</div>
{% endif %}