<div class="fd-navigation mdl-layout__drawer">
    <span class="mdl-layout-title mdl-color--primary mdl-color-text--white">
        <a href="{{ path('homepage') }}">Iris Central</a>
    </span>
   
    {% block menu_nav%}
    <nav class="mdl-navigation mdl-color--white">
           
    </nav>
    {% endblock %}
</div>