<div class="fd-navigation mdl-layout__drawer">

   
    {% block menu_nav%}
    <nav class="mdl-navigation mdl-color--white" style="    border-bottom: 1px solid !important;">
           
    </nav>
        <hr>
    {% endblock %}
</div>