{# empty Twig template #}
{%extends "DashboardBundle:Sales:base.html.twig"%}
{% block head %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
{% block body %}
<div id ="success_alert" class="alert alert-success alert-dismissible" role="alert">
    <p class="" style="font-size: 20px">Oberation done successfully. </p>
</div>
<div class="col-xs-12 " style="height: 70%">
    
</div>
{% endblock %}