/* Dropdown Button */
.dropbtn {
    background-color:#0083ba !important;
    color: white;
  padding:0px 120px !important;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: serif;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {

    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 6px;
    margin-left: 20px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
    color: #616161;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:1px solid gainsboro;
}

.datagrid table td, .datagrid table th {
    padding: 16px 24px;
}

.datagrid table thead th {

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EBEBEB', endColorstr='#EBEBEB');
    background-color: #f7f7f7;
    color: #616161;
    font-size: 15px;
    font-weight: bold;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: #616161;
    font-size: 14px;
    border-bottom: 1px solid #AAAAAA;
    font-weight: normal;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.datagrid table tfoot td div {
    border-top: 1px solid #8C8C8C;
    background: #EBEBEB;
}

.datagrid table tfoot td {
    padding: 0;
    font-size: 12px
}

.datagrid table tfoot td div {
    padding: 2px;
}
