{% extends 'DashboardBundle::base.html.twig' %}

{% block title %}Dashboard Homepage{% endblock %}
 {% block breadcrumb %} Dashboard Homepage {% endblock %}
{% block body%}

<H1> Welcome to your homepage </H1>

{% endblock %}

                